{%extends "layout.html"%}
{%block content%}
<div class="about">
    <font size="4"><p>In the annals of human history, a few great inventions have revolutionized fencing. &nbsp;The first of these, the mask, sharply reduced the rate of decapitations in matches. &nbsp;The second of these, electricity, allowed for fencing matches to be held at night. &nbsp;The third of these, &nbsp;this website, allows you to understand what's happening in the NCAA Fencing Championships without actually having to do any math. &nbsp;Truly, we live in an age of wonder.</p>
  <p> All the data used here comes from the lovely people at <a href="http://www.escrimeresults.com/tournaments/NCAA.html">escrimeresults.com. </a> "NCAA" is a trademark of the NCAA, &nbsp;"Fencing" is a trademark of President Usmanov, and "championship" is a trademark of Columbia University.</p>
  <p>Site credits: Andrew Fischl (@cyrusofchaos), and Elijah Granet (who is very mysterious). &nbsp;Special thanks to Ryan Lee for coining the term "Number One National Motherfuckers". </p></font>
    <p>#sameplanet</p>
</div>
{%endblock%}
