{%extends "layout.html"%}
{%block content%}
<div class="about">
    <font size="4"><p>In the annals of human history, a few great inventions have revolutionized fencing. &nbsp;The first of these, the mask, sharply reduced the rate of decapitations in matches. &nbsp;The second of these, electricity, allowed for fencing matches to be held at night. &nbsp;The most important of these,&nbsp;this website, allows you to understand what's happening in the NCAA Fencing Championships without actually having to do any math. &nbsp;Truly, we live in an age of wonder. You're welcome.</p>
  <p> All the data used here comes from the lovely people at <a href="http://www.escrimeresults.com/tournaments/NCAA.html">escrimeresults.com</a>. "NCAA" is a trademark of the NCAA,&nbsp;"Fencing" is a trademark of President Usmanov, and "Championship" is a trademark of Columbia University.</p>
  <p>Site credits: Andrew Fischl ({{andrew}}), and Elijah Granet ({{elijah}}) as well as a special thanks to anyone and everyone who had a suggestion on how to make the site better/more cohesive (no matter how useless or helpful those suggestions actually were). Those people were, in no particular order of helpfulness or uselessness, Greg Puccio, Tavish Pegram, Jamie Craze, Ridhima Guniganti, and Jeff Spear</p></font> 
    <p>#sameplanet</p>
</div>
{%endblock%}
