{%extends "layout.html"%}
{%block content%}
<iframe class="display" src="http://free.timeanddate.com/countdown/i65jx3xc/n179/cf13/cm0/cu4/ct0/cs1/ca0/cr0/ss0/cac000/cpc000/pcf90/tcf90/fs250/szw700/szh295/tatNCAA%20Fencing%20Championships/tac000/tpc000/matAt%20Penn%20State%20Start%20In%3A/mac000/mpc000/iso2018-03-21T09:00:00" allowTransparency="true" frameborder="0" width="1279" height="594"></iframe>
<iframe class="display" width="1279" height="720" src="https://www.youtube.com/embed/xYL8GFZCVls" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{%endblock%}
