{%extends "layout.html"%}
{%block content%}
<body>
    <center><h1>Below is the completed table from the NCAAs in 2016. This table will be updated with live results starting at around 10 a.m. on Thursday, March 23rd once the event is underway.</h1></center>
    <br>
    <table class="center">
        <tr>           
            <th>Current Place</th>
            <th></th>
            <th>Current Leader</th>
            <th>Total Wins</th>
            <th>Bouts Remaining</th>
            <th>Bouts Needed to Clinch</th>
        </tr>
        <tr>
            <td>1.</td>
            <td><img src="../static/images/{{boutsRemain[0][1][4]}}" alt="" style="width:auto; height:50px;"></td>
            <td>{{boutsRemain[0][0]}}</td>
            <td>{{boutsRemain[0][1][0]}}</td>
            {% if boutsRemain[0][1][1] != 0 %}
            <td>{{boutsRemain[0][1][1]}}</td>
            <td>{{boutsRemain[0][1][2]}} ({{boutsRemain[0][1][3]}})</td>
            {% else %}
            <td>DONE</td>
            <td>{{boutsRemain[0][1][2]}} {{boutsRemain[0][1][3]}}</td>
            {% endif %}
        </tr>
        <tr>
            <th>Current Place</th>
            <th></th>
            <th>School</th>
            <th>Total Wins</th>
            <th>Bouts Remaining</th>
            <th>Bouts Behind Leader</th>
        </tr>
        {% for school in boutsRemain[1:] %}
            <tr>
                <td>{{school[1][5]}}.</td>
                <td><img src="../static/images/{{school[1][4]}}" alt="" style="width:auto; height:50px;"></td>
                <td>{{school[0]}}</td>
                <td>{{school[1][0]}}</td>
                {% if school[1][1] != 0 %}
                <td>{{school[1][1]}}</td>
                {% else %}
                <td>DONE</td>
                {% endif %}
                {% if school[1][3] != "OUT" %}
                <td>{{school[1][2]}} ({{school[1][3]}})</td>
                {% else %}
                <td BGCOLOR="#FF1A1A" style="font-weight:bold">{{school[1][3]}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body> 
{%endblock%}
