{%extends "layout.html"%}
{%block content%}
<body>
    <table class="center">
        <tr>
            <th>Current Place</th>
            <th></th>
            <th>Current Leader</th>
            <th>Total Wins</th>
            <th>Win Percentage</th>
            <th>Bouts Remaining</th>
            <th>Bouts Needed to Clinch</th>
        </tr>
        <tr>
            <td>1</td>
            <td><img src="../static/images/{{ranking.first_place.school_logo}}"
                     alt=""
                     style="width:auto; height:50px;"></td>
            <td>{{ranking.first_place.name}}</td>
            <td>{{ranking.first_place.wins}}</td>
            <td>{{ranking.first_place.win_percent}}</td>

            {% if ranking.first_place.has_bouts_remaining %}
                <td>{{ranking.first_place.remaining_bouts}}</td>
            {% else %}
                <td>DONE</td>
            {% endif %}

            {% if ranking.is_over %}
                <td>WINNER OF THE 2018 FENCING CHAMPIONSHIP!</td>
            {% elif ranking.leader_can_clinch %}
                <td>
                    {{ranking.bouts_leader_needs_to_clinch}}
                    ({{ranking.percent_remaining_bouts_leader_needs_to_clinch}})
                </td>
            {% else %}
                <td>"CANT CLINCH YET"</td>
            {% endif %}
        </tr>
        <tr>
            <th>Current Place</th>
            <th></th>
            <th>School</th>
            <th>Total Wins</th>
            <th>Win Percentage</th>
            <th>Bouts Remaining</th>
            <th>Bouts Behind Leader</th>
        </tr>
        {% for school in ranking.trailing_schools %}
            <tr>
                <td>{{loop.index + 1}}.</td>
                <td><img src="../static/images/{{school.school_logo}}"
                         alt=""
                         style="width:auto; height:50px;">
                </td>
                <td>{{school.name}}</td>
                <td>{{school.wins}}</td>
                <td>{{school.win_percent}}</td>

                {% if school.has_bouts_remaining %}
                    <td>{{school.remaining_bouts}}</td>
                {% else %}
                    <td>DONE</td>
                {% endif %}

                {% if not ranking.is_school_out(school) %}
                    <td>{{ranking.bouts_behind_leader(school)}}</td>
                {% else %}
                    <td BGCOLOR="#FF1A1A" style="font-weight:bold">OUT</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body> 
{%endblock%}
