{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>Win Information By School</h1>
</div>
<body>
    <table>
        <tr>
            <th>School</th>
            <th>Total Wins</th>
            <th>Bouts Remaining</th>
            <th>Bouts To Clinch / Bouts Behind Leader</th>
            <th>% of Bouts Needed to Clinch / Catch Leader</th>
        </tr>
        {% for school in boutsRemain %}
            <tr>
                <td>{{school[0]}}</td>
                <td>{{school[1][0]}}</td>
                <td>{{school[1][1]}}</td>
                <td>{{school[1][2]}}</td>
                <td>{{school[1][3]}}</td>
            </tr>
        {% endfor %}
    </table>
</body> 
{%endblock%}
